
<div class="container">
    <nav role="navigation">
      <div class="my-4 text-center">
        <h2>Customize Your News Feed</h2>
        <p class="lead">Enter user information and select from the available categories before rendering your feed</p>
        <hr class="m-auto">
      </div>
      <ul class="text-center list-inline">
        {{#each nav}}
        <li class="list-inline-item"><a href="{{link}}">{{title}}</a></li>
        {{/each}}
      </ul>
   </nav>
  <div id="results-row" class="row mb-2">
    {{#each articles}}
    <div class="col-md-3"></div>
    <div class="col-md-6"> 
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col card p-4 d-flex flex-column position-static">
          <a id="url" href="{{dataValues.url}}" target="_blank"><img id="urlToImage" class="card-img-top img-responsive shadow" src="{{dataValues.urlToImage}}"></a>
          <div class="card-body">
            <strong id="source_nm" class="d-inline-block mb-2 text-primary">{{dataValues.source.name}}</strong>
            <h3 id="title" class="card-title mb-0">{{dataValues.title}}</h3>
            <div id="publishedAt" class="mb-1 text-muted">{{dataValues.publishedAt}}</div>
            <div id="description" class="card-text mb-auto">{{dataValues.description}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
    {{/each}}
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <hr>
    <p class="mb-1">&copy; NewsApp</p>
  </footer>
</div>
